
<!doctype html>
<html lang="en">
  <head>

    <title>Jumbotron example · Bootstrap v5.0</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Bootstrap core CSS -->
    <!--link href="/css/bootstrap.min.css" rel="stylesheet"-->

    <!-- Favicons -->

  </head>

  <body>
    <% include ./partials/navbar %>
<div class="container">
  <%- body -%>

</div>


    <% include ./partials/footer %>
  </body>
</html>
